@import url(../global.css);

h3 {
    color: var(--cor-quaternaria);
    font-size: 20px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

p {
    color: var(--cor-quintenaria);
    font-size: 14px;
    overflow-y: auto;
}

#carrinho {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    padding: 10px;
    animation: alternate 1s infinite;
    background-color: var(--cor-quintenaria);
}

#cardapio {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    overflow-y: scroll;
    max-height: 800px;
}

.card {
    width: 280px;
    height: 280px;
    background-color: var(--cor-secundaria);
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.card-body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.card img {
    width: 100px;
    height: 100px;
}

.card button {
    width: 200px;
    height: 30px;
    background-color: var(--cor-primaria);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    border: none;
    border-radius: 25px;
    color: var(--cor-quaternaria);
    font-size: 16px;
    cursor: pointer;
}

#carrinho div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#carrinho div input {
    width: 100px;
    height: 30px;
    background-color: var(--cor-quaternaria);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    border: none;
    border-radius: 25px;
    color: var(--cor-primaria);
    font-size: 16px;
    cursor: pointer;
    padding-left: 10px;
    padding-right: 10px;
    margin: 5px;
    text-align: right;
}

#carrinho div button {
    height: 30px;
    background-color: var(--cor-primaria);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    border: none;
    border-radius: 25px;
    color: var(--cor-quaternaria);
    font-size: 16px;
    cursor: pointer;
    padding-left: 10px;
    padding-right: 10px;
    margin: 5px;
}

#carrinho div button:hover {
    background-color: var(--cor-secundaria);
}
.modal{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 100;
    animation: modal 1s;
}

.modal-content{
    width: 400px;
    height: 400px;
    background-color: var(--cor-quaternaria);
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: var(--cor-primaria);
    padding: 10px;
}

.modal-content form{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.modal-content form div{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.modal-content form select, input{
    width: 80%;
    height: 30px;
    background-color: var(--cor-quaternaria);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    border: none;
    border-radius: 25px;
    color: var(--cor-primaria);
    font-size: 16px;
    cursor: pointer;
    padding-left: 10px;
    padding-right: 10px;
    margin: 5px;
}

.modal-content form input[type="submit"],input[type="button"]{
    height: auto;
    background-color: var(--cor-primaria);
    color: var(--cor-quintenaria);
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    padding: 10px;
    margin: 5px;
}

.modal-content form input[type="submit"]:hover, input[type="button"]:hover{
    background-color: var(--cor-quintenaria);
    color: var(--cor-primaria);
}

.oculto {
    display: none;
}

@media(max-width: 800px) {
    #carrinho {
        height: 100%;
    }

    #cardapio {
        height: 100%;
        overflow-y: none;
    }

    .card {
        width: 180px;
        height: 180px;
    }

    .card img {
        display: none;
    }

    .card button {
        width: 150px;
        height: 25px;
        font-size: 14px;
    }

    #carrinho .descricao {
        display: none;
    }

    #carrinho .card {
        width: 150px;
        height: 150px;
    }

    .card h3 {
        font-size: 16px;
    }
}