@import url(../global.css);

h3 {
    color: var(--cor-quaternaria);
    font-size: 20px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

p {
    color: var(--cor-quintenaria);
    font-size: 14px;
    overflow-y: auto;
}

main {
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    overflow-y: auto;
}

table {
    width: 100%;
    max-width: 1200px;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
}

tr {
    border-bottom: 1px solid var(--cor-secundaria);
}

tr:nth-child(Even){
	background-color:var(--cor-secundaria);
    opacity: 0.8;
}

th {
    padding: 10px;
    text-align: center;
    background-color: var(--cor-quaternaria);
    color: var(--cor-sextanaria);
}

td {
    padding: 10px;
    text-align: center;
    color: var(--cor-quaternaria);
}

td button{
    background-color: var(--cor-primaria);
    color: var(--cor-quintenaria);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    border: none;
    border-radius: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: large;
    cursor: pointer;
}

td input {
    width: 100px;
    text-align: center;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    border: none;
    border-radius: 5px;
    padding: 5px;
    font-size: large;
    cursor: pointer;
}

td .Entrega{
    background-color: var(--cor-primaria);
    color: var(--cor-quintenaria);
}

td .Cozinha{
    background-color: var(--cor-secundaria);
    color: var(--cor-quaternaria);
}

td .Concluído{
    background-color: var(--cor-terciaria);
    color: var(--cor-quaternaria);
}

td button:hover{
    background-color: var(--cor-quaternaria);
    font-weight: bolder;
    color: var(--cor-primaria);
}

.oculto {
    display: none;
}

@media(max-width: 800px) {
    thead {
        display: none;
    }

    tbody td {
        display: block;
        width: 100%;
        overflow-x: auto;
        white-space: nowrap;
        text-align: right;
    }

    tbody td::before {
        content: attr(data-label);
        float: left;
        font-weight: bold;
    }
}