@import url(../global.css);

h3 {
    color: var(--cor-quaternaria);
    font-size: 20px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

p {
    color: var(--cor-quintenaria);
    font-size: 14px;
    overflow-y: auto;
}

main {
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
}

table {
    width: 100%;
    max-width: 1000px;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
}

tr {
    border-bottom: 1px solid var(--cor-secundaria);
}

th {
    padding: 10px;
    text-align: center;
    background-color: var(--cor-quaternaria);
    color: var(--cor-sextanaria);
    opacity: 0.5;
}

td {
    padding: 10px;
    text-align: center;
    color: var(--cor-quaternaria);
}

.item {
    background-color: var(--cor-primaria);
    font-weight: bold;
    font-size: 16px;
    padding: 10px;
    text-align: center;
    opacity: 0.8;
}

#cards,
#charts {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 5px;
}

.card {
    width: 100%;
    max-width: 300px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 10px;
    padding: 10px;
    background-color: var(--cor-quaternaria);
    border-radius: 10px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.chart {
    width: 100%;
    max-width: 400px;
    height: 400px;
    margin: 10px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    background-color: var(--cor-quaternaria);
    border-radius: 10px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

canvas {
    height: fit-content;
}

.card-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 300px;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    font-size: 22px;
    font-weight: bold;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    max-width: 300px;
    margin: 10px;
    padding: 10px;
    background-color: var(--cor-primaria);
    border-radius: 10px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.card-text {
    color: var(--cor-quaternaria);
    font-size: 18px;
    text-align: center;
}

#filtros {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: fit-content;
    align-items: center;
    margin: 5px;
    padding: 5px;
    background-color: var(--cor-quaternaria);
    border-radius: 25px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

#filtros h1{
    margin: 10px;
}

#filtros input,
select {
    width: fit-content;
    max-width: 200px;
    height: 30px;
    margin: 5px;
    padding: 5px;
    border-radius: 25px;
    border: none;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

#filtros select option {
    font-size: medium;
    text-align: center;
}

#filtros input[type="button"] {
    width: 100px;
    max-width: 100px;
    height: 30px;
    margin: 5px;
    padding: 5px;
    border-radius: 25px;
    border: none;
    background-color: var(--cor-primaria);
    color: var(--cor-quaternaria);
    font-weight: bold;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.oculto {
    display: none;
}

@media(max-width: 800px) {
    th {
        display: none;
    }

    tbody td {
        display: block;
        width: 100%;
        overflow-x: auto;
        height: fit-content;
        text-align: right;
    }

    tbody td::before {
        content: attr(data-label);
        float: left;
        font-weight: bold;
    }

    #filtros {
        flex-direction: column;
        width: 100%;
    }

    #filtros input, select{
        width: 100%;
        max-width: 100%;
    }
}