:root {
    --fonte-padrao: 'Roboto', sans-serif;
    --font-size-padrao: 16px;
    --img-fundo: url("./assets/fundo.png");
    --cor-primaria: #300d28;
    --cor-secundaria: #70615c;
    --cor-terciaria: #8ca38b;
    --cor-quaternaria: #f7eeaa;
    --cor-quintenaria: #edb552;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--cor-primaria);
    background-size: contain;
    background: var(--img-fundo);
}

header {
    width: 100%;
    height: 10vh;
    background-color: var(--cor-secundaria);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

header h1 {
    font-size: 30px;
    color: var(--cor-quintenaria);
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

main{
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

canvas{
    width: 100%;
    height: 100%;
}

.nav-big ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
}

.nav-big ul li {
    width: 160px;
    height: 40px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    margin: 5px;
    background-color: var(--cor-primaria);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.nav-big ul li a {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: var(--cor-quaternaria);
    font-size: 16px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.nav-big ul li:hover {
    font-weight: bold;
    background-color: var(--cor-quaternaria);
}

.nav-big ul li:hover a {
    color: var(--cor-primaria);
}

.sanduiche {
    display: none;
    width: 40px;
    border: var(--cor-primaria) 2px solid;
    border-radius: 50%;
    padding: 5px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.nav-small ul {
    position: absolute;
    top: 85px;
    left: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-small ul li {
    width: 160px;
    height: 40px;
    background-color: var(--cor-primaria);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    margin: 2px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.nav-small ul li a {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: var(--cor-quaternaria);
    font-size: 16px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.oculto{
    display: none;
}

/*Responsividade no menu com media*/
@media(max-width: 800px) {
    header h1 {
        font-size: 25px;
    }
    .nav-big {
        display: none;
    }
    .sanduiche {
        display: flex;
    }
}